<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.twsm.newstopic.dao.ApproveArchiveMapper" >
  <resultMap id="BaseResultMap" type="cn.com.twsm.newstopic.model.ApproveArchive" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="CONNENT" property="connent" jdbcType="VARCHAR" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ARCHIVE_ID, USER_ID, CONNENT, APPROVE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from approve_archive
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from approve_archive
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.twsm.newstopic.model.ApproveArchive" >
    insert into approve_archive (ID, ARCHIVE_ID, USER_ID, 
      CONNENT, APPROVE_TIME)
    values (#{id,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{connent,jdbcType=VARCHAR}, #{approveTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.twsm.newstopic.model.ApproveArchive" >
    insert into approve_archive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="connent != null" >
        CONNENT,
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="connent != null" >
        #{connent,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.twsm.newstopic.model.ApproveArchive" >
    update approve_archive
    <set >
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="connent != null" >
        CONNENT = #{connent,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME = #{approveTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.twsm.newstopic.model.ApproveArchive" >
    update approve_archive
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      CONNENT = #{connent,jdbcType=VARCHAR},
      APPROVE_TIME = #{approveTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>