<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.twsm.newstopic.dao.ApproveInterSelectMapper" >
  <resultMap id="BaseResultMap" type="cn.com.twsm.newstopic.model.ApproveInterSelect" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SELECT_ID" property="selectId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SELECT_ID, USER_ID, CONTENT, TYPE, APPROVE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from approve_inter_select
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from approve_inter_select
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.twsm.newstopic.model.ApproveInterSelect" >
    insert into approve_inter_select (ID, SELECT_ID, USER_ID, 
      CONTENT, TYPE, APPROVE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{selectId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{approveTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.twsm.newstopic.model.ApproveInterSelect" >
    insert into approve_inter_select
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="selectId != null" >
        SELECT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="selectId != null" >
        #{selectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.twsm.newstopic.model.ApproveInterSelect" >
    update approve_inter_select
    <set >
      <if test="selectId != null" >
        SELECT_ID = #{selectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME = #{approveTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.twsm.newstopic.model.ApproveInterSelect" >
    update approve_inter_select
    set SELECT_ID = #{selectId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      CONTENT = #{content,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      APPROVE_TIME = #{approveTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  
    <sql id="whereCondition">
      <if test="type != null" >
        AND approve_inter_select.TYPE = #{type,jdbcType=INTEGER}
      </if>
      <if test="selectId != null" >
        AND approve_inter_select.SELECT_ID = #{selectId,jdbcType=INTEGER}
      </if>
  </sql>
  
  <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from approve_inter_select
    where 1=1 <include refid="whereCondition" />
  </select>
</mapper>