<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.twsm.newstopic.dao.CollectionTypeMapper" >
  <resultMap id="BaseResultMap" type="cn.com.twsm.newstopic.model.CollectionType" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="NEWS_ID" property="newsId" jdbcType="INTEGER" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, NEWS_ID, TYPE, ADD_TIME, USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collection
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collection
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.twsm.newstopic.model.CollectionType" >
    insert into collection (ID, TITLE, NEWS_ID, 
      TYPE, ADD_TIME, USER_ID
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{newsId,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.twsm.newstopic.model.CollectionType" >
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="newsId != null" >
        NEWS_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.twsm.newstopic.model.CollectionType" >
    update collection
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="newsId != null" >
        NEWS_ID = #{newsId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.twsm.newstopic.model.CollectionType" >
    update collection
    set TITLE = #{title,jdbcType=VARCHAR},
      NEWS_ID = #{newsId,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
    <sql id="whereCondition">
  	<if test="id != null" >
      AND collection.ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="type != null" >
      AND collection.TYPE = #{type,jdbcType=INTEGER}
    </if>
    <if test="newsId != null" >
      AND collection.NEWS_ID = #{newsId,jdbcType=INTEGER}
    </if>
  </sql>
  
   <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from collection
    where 1=1 <include refid="whereCondition" />
    ORDER BY ADD_TIME DESC
  </select>
</mapper>