<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.twsm.newstopic.dao.CrawlDataMapper" >
  <resultMap id="BaseResultMap" type="cn.com.twsm.newstopic.model.CrawlData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="collectionSource" property="collectionsource" jdbcType="VARCHAR" />
    <result column="collectAmount" property="collectamount" jdbcType="VARCHAR" />
    <result column="collectAcquisition" property="collectacquisition" jdbcType="VARCHAR" />
    <result column="collectTime" property="collecttime" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="collectionLayer" property="collectionlayer" jdbcType="VARCHAR" />
    <result column="weiboId" property="weiboid" jdbcType="VARCHAR" />
    <result column="wechatAccount" property="wechataccount" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, collectionSource, collectAmount, collectAcquisition, collectTime, link, collectionLayer, 
    weiboId, wechatAccount, type,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from craw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from craw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.twsm.newstopic.model.CrawlData" >
    insert into craw (id, collectionSource, collectAmount, 
      collectAcquisition, collectTime, link, 
      collectionLayer, weiboId, wechatAccount, 
      type)
    values (#{id,jdbcType=INTEGER}, #{collectionsource,jdbcType=VARCHAR}, #{collectamount,jdbcType=VARCHAR}, 
      #{collectacquisition,jdbcType=VARCHAR}, #{collecttime,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{collectionlayer,jdbcType=VARCHAR}, #{weiboid,jdbcType=VARCHAR}, #{wechataccount,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.twsm.newstopic.model.CrawlData" >
    insert into craw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="collectionsource != null" >
        collectionSource,
      </if>
      <if test="collectamount != null" >
        collectAmount,
      </if>
      <if test="collectacquisition != null" >
        collectAcquisition,
      </if>
      <if test="collecttime != null" >
        collectTime,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="collectionlayer != null" >
        collectionLayer,
      </if>
      <if test="weiboid != null" >
        weiboId,
      </if>
      <if test="wechataccount != null" >
        wechatAccount,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="collectionsource != null" >
        #{collectionsource,jdbcType=VARCHAR},
      </if>
      <if test="collectamount != null" >
        #{collectamount,jdbcType=VARCHAR},
      </if>
      <if test="collectacquisition != null" >
        #{collectacquisition,jdbcType=VARCHAR},
      </if>
      <if test="collecttime != null" >
        #{collecttime,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="collectionlayer != null" >
        #{collectionlayer,jdbcType=VARCHAR},
      </if>
      <if test="weiboid != null" >
        #{weiboid,jdbcType=VARCHAR},
      </if>
      <if test="wechataccount != null" >
        #{wechataccount,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.twsm.newstopic.model.CrawlData" >
    update craw
    <set >
      <if test="collectionsource != null" >
        collectionSource = #{collectionsource,jdbcType=VARCHAR},
      </if>
      <if test="collectamount != null" >
        collectAmount = #{collectamount,jdbcType=VARCHAR},
      </if>
      <if test="collectacquisition != null" >
        collectAcquisition = #{collectacquisition,jdbcType=VARCHAR},
      </if>
      <if test="collecttime != null" >
        collectTime = #{collecttime,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="collectionlayer != null" >
        collectionLayer = #{collectionlayer,jdbcType=VARCHAR},
      </if>
      <if test="weiboid != null" >
        weiboId = #{weiboid,jdbcType=VARCHAR},
      </if>
      <if test="wechataccount != null" >
        wechatAccount = #{wechataccount,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.twsm.newstopic.model.CrawlData" >
    update craw
    set collectionSource = #{collectionsource,jdbcType=VARCHAR},
      collectAmount = #{collectamount,jdbcType=VARCHAR},
      collectAcquisition = #{collectacquisition,jdbcType=VARCHAR},
      collectTime = #{collecttime,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      collectionLayer = #{collectionlayer,jdbcType=VARCHAR},
      weiboId = #{weiboid,jdbcType=VARCHAR},
      wechatAccount = #{wechataccount,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <sql id="whereCondition">
      <if test="type != null" >
        AND craw.type = #{type,jdbcType=VARCHAR}
      </if>
       <if test="keyword!= null and keyword!=''" >
        AND craw.collectionSource = #{keyword,jdbcType=VARCHAR}
      </if>
  </sql>
  
   <delete id="deleteByIds" parameterType="java.util.List" >
    delete from craw
    where ID in
    <foreach collection="list" item ="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </delete>
  
    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from craw
    where 1=1 <include refid="whereCondition" />
  </select>
</mapper>