<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.twsm.newstopic.dao.InterfaceMapper" >
  <resultMap id="BaseResultMap" type="cn.com.twsm.newstopic.model.Interface" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="INTERFACE_NAME" property="interfaceName" jdbcType="VARCHAR" />
    <result column="CALLER" property="caller" jdbcType="VARCHAR" />
    <result column="INVOKE_METHOD" property="invokeMethod" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="VARCHAR" />
    <result column="INVOKE_ADDRESS" property="invokeAddress" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, INTERFACE_NAME, CALLER, INVOKE_METHOD, ADD_TIME, INVOKE_ADDRESS, STATUS
  </sql>
  <sql id="whereCondition">
      <if test="id != null" >
        AND ID = #{id,jdbcType=INTEGER}
      </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from interface
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interface
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.twsm.newstopic.model.Interface" >
    insert into interface (ID, INTERFACE_NAME, CALLER, 
      INVOKE_METHOD, ADD_TIME, INVOKE_ADDRESS, STATUS
      )
    values (#{id,jdbcType=INTEGER}, #{interfaceName,jdbcType=VARCHAR}, #{caller,jdbcType=VARCHAR}, 
      #{invokeMethod,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}, #{invokeAddress,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.twsm.newstopic.model.Interface" >
    insert into interface
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="interfaceName != null" >
        INTERFACE_NAME,
      </if>
      <if test="caller != null" >
        CALLER,
      </if>
      <if test="invokeMethod != null" >
        INVOKE_METHOD,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="invokeAddress != null" >
        INVOKE_ADDRESS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interfaceName != null" >
        #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="caller != null" >
        #{caller,jdbcType=VARCHAR},
      </if>
      <if test="invokeMethod != null" >
        #{invokeMethod,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="invokeAddress != null" >
        #{invokeAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.twsm.newstopic.model.Interface" >
    update interface
    <set >
      <if test="interfaceName != null" >
        INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="caller != null" >
        CALLER = #{caller,jdbcType=VARCHAR},
      </if>
      <if test="invokeMethod != null" >
        INVOKE_METHOD = #{invokeMethod,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="invokeAddress != null" >
        INVOKE_ADDRESS = #{invokeAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.twsm.newstopic.model.Interface" >
    update interface
    set INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      CALLER = #{caller,jdbcType=VARCHAR},
      INVOKE_METHOD = #{invokeMethod,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=VARCHAR},
      INVOKE_ADDRESS = #{invokeAddress,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from interface
    where 1=1 <include refid="whereCondition" />
  </select>
  
  <delete id="deleteByIds" parameterType="java.util.List" >
    delete from interface
    where ID in
    <foreach collection="list" item ="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </delete>
</mapper>