<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.twsm.newstopic.dao.ReleaseLibMapper" >
  <resultMap id="BaseResultMap" type="cn.com.twsm.newstopic.model.ReleaseLib" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="SUBTITLE" property="subtitle" jdbcType="VARCHAR" />
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="CATALOG_ID" property="catalogId" jdbcType="INTEGER" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="NEWS_LINK" property="newsLink" jdbcType="VARCHAR" />
    <result column="CRAWL_TIME" property="crawlTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, SUBTITLE, PUBLISH_TIME, VERSION, CATALOG_ID, AUTHOR, NEWS_LINK, CRAWL_TIME
  </sql>
  <sql id="whereCondition">
      <if test="id != null" >
        AND ID = #{id,jdbcType=INTEGER}
      </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from release_lib
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from release_lib
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.twsm.newstopic.model.ReleaseLib" >
    insert into release_lib (ID, TITLE, SUBTITLE, 
      PUBLISH_TIME, VERSION, CATALOG_ID, 
      AUTHOR, NEWS_LINK, CRAWL_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{catalogId,jdbcType=INTEGER}, 
      #{author,jdbcType=VARCHAR}, #{newsLink,jdbcType=VARCHAR}, #{crawlTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.twsm.newstopic.model.ReleaseLib" >
    insert into release_lib
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="subtitle != null" >
        SUBTITLE,
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="catalogId != null" >
        CATALOG_ID,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="newsLink != null" >
        NEWS_LINK,
      </if>
      <if test="crawlTime != null" >
        CRAWL_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="newsLink != null" >
        #{newsLink,jdbcType=VARCHAR},
      </if>
      <if test="crawlTime != null" >
        #{crawlTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.twsm.newstopic.model.ReleaseLib" >
    update release_lib
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        SUBTITLE = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME = #{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null" >
        CATALOG_ID = #{catalogId,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="newsLink != null" >
        NEWS_LINK = #{newsLink,jdbcType=VARCHAR},
      </if>
      <if test="crawlTime != null" >
        CRAWL_TIME = #{crawlTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.twsm.newstopic.model.ReleaseLib" >
    update release_lib
    set TITLE = #{title,jdbcType=VARCHAR},
      SUBTITLE = #{subtitle,jdbcType=VARCHAR},
      PUBLISH_TIME = #{publishTime,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      CATALOG_ID = #{catalogId,jdbcType=INTEGER},
      AUTHOR = #{author,jdbcType=VARCHAR},
      NEWS_LINK = #{newsLink,jdbcType=VARCHAR},
      CRAWL_TIME = #{crawlTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from release_lib
    where 1=1 <include refid="whereCondition" />
  </select>
</mapper>